<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lading page</title>
    <link rel="stylesheet" href="../www/css/main.css">
</head>
<body>
    
        <div id="container">
            <center>
                <img src="../www/images/Entrust-Logo-RG2B.png" alt="This is a photo">
            </center>
            </div>
            <div>
                <center>
                <h1 class="saitov">
                    SECURING YOUR BRAND <br> AND YOUR REPUTATION
                </h1>
                    <p class="poss">
                <strong> A straightforward guide to understading TLS/SSL certificates</strong>
            </p>
            </center>
        </div>
            <div>
            <p>
            Almost every organization, from global enterprises to local shops is on the path tj digital           
                <br> transformation. And TLS/SSL certificates form the foundation for protection, privacy, and brand
                <br> intergrity in the digital realm. This guide provides you with a working understanding of TLS/SSL
                <br> certificates and offers advice on how to select, buy, and deploy them.
            </p>
        </div>
        <div>
            <p>
                Topics include:
            </p>
        </div>
        <div class="grid_7">
            <li><a href="">What are TLS/SSL certificates?</a></li>
            <li><a href="">Why are TLS/SSL certificates so important?</a></li>
            <li><a href="">How do TLS/SSL certificates work?</a></li>
            <li><a href="">Verious types of certificates</a></li>
            <li><a href="">Tips for choosing and acquiring certificates</a></li> 
        </div>
        <div>
            <p>
             To download the free book, complete the form on the right
            </p>
        </div>
        <div class="group_1">
                <form action="">
                <img src="../www/images/pngtree-flat-illustration-girl-png-image_6297004.jpg" alt="This is a photo">
                    <h2>Download now</h2>
                    <div class="group">
                        <label for="">First Name</label>
                        <input type="text"><p>

                        </p>
            
                <div class="group">
                    <label for="">Last Name</label>
                    <input type="text"><p>

                    </p>
                </div>
                <div class="group">
                    <label for="">Email</label>
                    <input type="email"><p>

                    </p>
                </div>
                <div class="group">
                    <button class="butun">Submit</button>
                </div>
            </form>
        </div>
        <div>
            <p id="talgat">
                <center>
                    &2022 Enrual corporation All rights Privacy Policy | Contact 
                </center>
            </p>
        </div>    
</body>
